* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* border: 1px solid white; */

}

body {
  background-color: #343c4d;
}

.bgImage {
  position: fixed; /*keeps background from moving while rest of site scrolls*/
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw; /*These two make the bg fullscreen*/
  height: 100vh;
  z-index: -1;
}

.bgImage.home {
  background-image: url('data/bg_2.png'); /*Background image*/

}

.bgImage.blue {
  background-image: url('data/bg_4.png'); /*Background image*/
  position: fixed; /*keeps background from moving while rest of site scrolls*/
  background-size: cover;
  background-repeat: no-repeat;
}

.bgImage.green {
  background-image: url('data/bg_5.png'); /*Background image*/
  position: fixed; /*keeps background from moving while rest of site scrolls*/
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  padding-left: 5vmin; /* Logo placement */
  padding-top: 5vmin;
  font-family: 'Orbitron', sans-serif;
  width: 6vw; /* Fixing logo hover area */
}

.logo > a > img {
  width: 6vw; /* Fixing logo img size */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #cb2648;
  box-shadow: 1px 10px 45px 0px rgba(255,0,38,0.7);
  z-index: 1;
}

.dropdown-content.blue {
  background-color: #6162df;
  box-shadow: 1px 10px 45px 0px rgba(97, 98, 223,0.7);
}

.dropdown-content.green {
  background-color: #36d95c;
  box-shadow: 1px 10px 45px 0px rgba(54, 217, 92,0.7);
}


.dropdown-content a { /* The dropdown stuff */
  color: white;
  padding: 1vh 2vw;
  text-decoration: none;
  display: flex;
}

.dropdown-content a:hover { /*When hovering, change colors */
  background-color: #ddd;
  color: black;
}

.logo:hover .dropdown-content { /*Show the dropdown menu only when hovering the logo */
  display: block;
}


.mainContainer {
  display: flex; /* Flex on em */
  justify-content: center; /* Centering everything!!! */
  flex-direction: column; /* To make content flow up to down */

}

.header {
  padding-top: 100vh;
}

.header > h1 {
  font-family: 'Anton', sans-serif; /* Choosing a nice font */
  font-weight: bold; /* Bold the font */
  font-size: 10vw; /* Resizing font */
  padding: 1vw; /* Padding for aesthetics */
  letter-spacing: 0.02em;
  color:white;
  background-image: url('data/text_bg.png'); /*Background image*/
  background-repeat: no-repeat;
}

.header.blue {
  padding-top: 5vh;
}

.header.blue > h1 {
  background-image: url('data/text_bg_2.png'); /*Background image*/
  background-repeat: no-repeat;
  padding: 15vmin;
}

.centerColumn {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


.emptyContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 70vw;
  padding: 15vw;
}

.emptyContainer.bigger {
  padding: 22vw;
}

.emptyContainer.smaller {
  padding: 7vw;
}

.contentContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 70vw;
  color: white; /* Font color */
  padding: 2vw;
  font-size: 1.5vmax;
  font-family: 'Jura', sans-serif; /* Choosing a nice font */
  font-weight: bold;
  background-color: #343c4d;

  border: 2px solid #cb2648;
}

.contentContainer.green{
  border: 2px solid #34eb6e;
}

.contentContainer.blue{
  border: 2px solid #549ee8;
}


.contentContainer > h2 {
  font-family: 'Anton', sans-serif; /* Choosing a nice font */
  font-size: 5vw; /* Resizing font */
  letter-spacing: 0.03em;
  color:white;
}

.contentContainer > img { /*Image resizing*/
  width: 100%;
}

.threeImageColumn { /*A column that holds three images*/
  display: flex;
  flex-direction: row;
}

.threeImageColumn > img { /*formatting images in the column*/
  width: 33%;
  border: 2px solid #34eb6e;
}

.textContainer {
  padding-top: 4vh;
  padding-bottom: 4vh;
  line-height: 1.3em;
}



.footer { /* Column here to organize footer items, I use rows in the next few classes to align them on the center*/
 display: flex;
 flex-flow: column;
 background-color: black;
 width: 100vw;
 color: #c2c2c2;
 font-size: 2vmin;
}

.footerText { /* Need flex here to align text in the center*/
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.fakelinks { /* Need flex again to keep two p tags in a line*/
  text-decoration: underline;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.footerImage { /* Flex here is for centering images*/
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerImage > img { /*Formatting the images in the footer*/
  padding: 5vmin;
  width: 15vw;
}

.characterContainer { /*Formatting the container and adding a bg color */
  display: flex;
  flex-direction: row;
  padding: 2vmin;
  background-color: #343c4d;

}

.characterContainer > a { /*image formatting inside the outside*/
  width: 12.5%;
  height: 25vh;
}


.characterContainer > a > img { /*image formatting inside the container*/
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.backToTop.green a:visited, a { /*Link color before and after clicked*/
  color: #34eb6e;
}

.backToTop.green a:hover{ /*Link color while hovering*/
  color: #de4b75;
}

.backToTop.red a:visited, a { /*Link color before and after clicked*/
  color: #de4b75;
}

.backToTop.red a:hover{ /*Link color while hovering*/
  color: #34eb6e;
}
